{
  "presets": ["react"],
  "plugins": ["dev-expression"],

  "env": {
    "cjs": {
      "presets": ["es2015-loose", "stage-1"]
    },
    "es": {
      "presets": ["es2015-loose-native-modules", "stage-1"]
    }
  }
}
