{
  "presets": [
    "./tools/es2015Preset",
    "stage-1",
    "react"
  ],
  "plugins": ["dev-expression"],

  "env": {
    "cjs": {
      "plugins": ["add-module-exports"]
    },
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
