{
  "extends": ["react-app"],
  "rules": {
    "import/first": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "react/jsx-no-constructed-context-values": "error"
  },
  "overrides": [
    {
      "files": ["**/__tests__/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"]
    }
  ]
}
