language: node_js
jobs:
  include:
    # Define the release stage that runs semantic-release
    - stage: release
      node_js:
        - 10
        - 12
      deploy:
        on:
          branch: master
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release