body {
  font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
  line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 { margin: 0; font: inherit; }

p { margin: 0 }
a { color: inherit; text-decoration: none; }
* { box-sizing: border-box; }

.fake-browser h1 { margin: initial; font-size: 150%; }
.fake-browser h2 { margin: initial; font-size: 125%; }
.fake-browser h3 { margin: initial; font-size: 100%; }
.fake-browser a { color: rgb(204, 65, 65); text-decoration: underline; display: initial; }
.fake-browser { color: initial }

pre, code { font-family: Monaco, monospace; line-height: 1.5 }
markdown { display: block; }
markdown pre { background: rgb(45, 45, 45); padding: 10px; border-radius: 3px; }
markdown pre code { font-size: 13px; }
markdown code { font-size: 16px; }
markdown h1 { font-family: Monaco, monospace; margin: 50px 0 10px 0; color: rgb(204, 65, 65); font-size: 200%; }
markdown h2 { font-family: Monaco, monospace; margin: 40px 0 0 0; font-size: 150%; color: rgb(81, 81, 81); }
markdown h2 code { font-size: 100%; font-weight: 100; }
markdown h2 + p { margin-top: 10px; }
markdown h2 em { float: right; color: #ccc; }

markdown h1, h2, h3 { position: relative; }
markdown .header-anchor { position: absolute; left: -1em; top: 0.1em; color: #ccc; }
markdown .header-anchor:hover { color: rgb(45, 45, 45); }

markdown p { margin: 1em 0; }

markdown h1 + h2 { margin-top: -40px; font-weight: normal }

markdown th {
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  font-size: 80%;
  font-weight: normal;
  font-style: italic;
}

markdown tr:nth-child(even) {
  background: #f0f0f0;
}

markdown table td,
markdown table th {
  padding: 2px 4px;
}

markdown a { color: #d0021b; text-decoration: none }
