{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "dev-expression",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
