.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.swap-enter {
  opacity: 0.01;
  transform: translateX(5em);
  transition: all .5s ease-in;
}

.swap-enter.swap-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.swap-leave {
  opacity: 1;
  transform: translateX(0);
  transition: all .5s ease-in;
}

.swap-leave.swap-leave-active {
  opacity: 0.01;
  transform: translateX(-5em);
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
