.geobtn-container {
  text-align: center;
  .geobutton {
    background: #0383FF;
    color: white;
    padding: 8px 15px;
    font-size: 15px;
    border: 0;
    border-bottom: 3px solid #63a3FF;
    cursor: pointer;
    outline: none;

    &:disabled {
      color: #EEE506;
      background: #63a3FF;
    }

    .ion-location {
      margin-right: 8px;
    }
  }
}