.button {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid white;
  outline: none;
  text-decoration: none;
  color: black;

  &:hover {
    border-color: black;
  }

  &:active {
    background: #e0b973;
    color: white;
    border-color: #f3d297;
  }
}
