.title {
  text-decoration: underline;
  display: block;
  font-size: 3rem;
  text-decoration: none;
  color: #4183c4;
  margin-bottom: 1rem;
}

.button {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid #4183c4;
  outline: none;
  text-decoration: none;

  &:hover {
    border-color: black;
  }

  &:active {
    background: #f3d297;
    color: white;
    border-color: #f3d297;
  }
}

.jokeList {
  padding: 2rem;
}

.joke {
  border-bottom: 1px solid #d8b069;
  padding: 2rem 0;
}

.number {
  font-size: 2rem;
  margin-right: 1rem;
}
