.button:focus {
  outline: none;
  color: hsl(200, 100%, 41%);
}

.button:hover {
  color: hsl(5, 100%, 41%);
}

.button:active:not(:disabled) {
  position: relative;
  top: 1px;
  left: 1px;
  color: hsl(5, 80%, 30%);
}

.button:disabled {
  color: hsl(5, 0%, 50%);
}

