aside {
  position: absolute;
  left: 0;
  width: 300px;
}

main {
  position: absolute;
  left: 310px;
}

ul.breadcrumbs-list {
  margin: 0;
  padding: 0;
}

ul.breadcrumbs-list li {
  display: inline-block;
  margin-right: 20px;
}

ul.breadcrumbs-list li a:not(.breadcrumb-active) {
  font-weight: bold;
  margin-right: 20px;
}

ul.breadcrumbs-list li a.breadcrumb-active {
  text-decoration: none;
  cursor: default;
}
