{
  "extends": "rackt",
  "plugins": [ "react" ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-undef": 2,
    "react/prop-types": 0
  }
}

