body {
  margin: 0px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow: hidden;
  line-height: 1.5;
}

h1 {
  font-family: "Arial Black", Arial, sans-serif;
}

h2 {
  font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  color: #4e4e4e;
}

pre {
  margin: 0;
  line-height: 1.3;
  font-family: "Source Code Pro", monospace;
  overflow: auto;
}

a {
  color: #4FB3CE;
  text-decoration: none;
}

code {
  font-family: "Source Code Pro", monospace;
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0 4px;
}

pre > code {
  background: inherit;
  border: inherit;
}

.highlight {
  padding: 10px;
}

.Main {
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  padding: 40px;
}

.Nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 300px;
  box-sizing: border-box;
  background: #f9f9f9;
  padding: 40px;
  overflow: scroll;
}

.Heading {
  margin-top: 120px;
}

.HeadingLink {
  color: #4e4e4e;
  display: block;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  font-size: 150%;
}

.CategoryName {
  float: right;
  margin-top: -1.5em;
  font-weight: normal;
  font-family: Arial, sans-serif;
  color: #454545;
}

.Category__Link {
  color: #000;
  text-decoration: none;
}

.Category__Link:hover {
  text-decoration: underline;
}

.Main {
  flex: 1;
}

.Main__Content {
  max-width: 900px;
}

.Category {
  margin-top: 20px;
}

.Category__Name {
  font-family: "Arial Black", sans-serif;
  color: #4e4e4e;
}

.Category__List {
  margin: 0;
  list-style-type: none;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

.Version {
  margin-top: 20px;
  width: 100%;
}

blockquote {
  margin: 0;
  font-style: italic;
  padding-left: 20px;
  border-left: 6px solid #ccc;
  color: #454545;
  font-family: serif;
}



