<!doctype html public "shame">
<html lang=en>
<meta charset=utf-8>
<title>React Router: Declarative Routing for React.js</title>
<style>
html, body, #app { height: 100%; margin: 0 }
* { box-sizing: border-box }
</style>
<base href="<%= htmlWebpackPlugin.options.baseHref %>"/>
<div id=app></div>

