name: release
on:
  release:
    types: [published]

jobs:
  release:
    if: github.repository == 'remix-run/react-router'
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test & yarn size

      - name: Publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
          node scripts/publish.js

      - name: Refresh the docs
        uses: fjogeleit/http-request-action@master
        with:
          url: "${{ secrets.DOCS_REFRESH_URL }}?ref=${{ github.ref }}"
          method: "POST"
          customHeaders: '{"Authorization": "${{ secrets.DOCS_REFRESH_TOKEN }}"}'
          timeout: 60000
